# Data Processing - Assignment 2

In this assignment, we focus on the basics of NumPy and Pandas packages in Python. Write your code in Python 3 (Anaconda) and in a Jupyter notebook and submit the .ipynb file.

## ndarray (40 points )

- Create a list and 1-dimensional ndarray with identical elements and show that slicing in both is the same.

In [1]:
import numpy as np
a = [1,2,3,4]
b = np.array([1,2,3,4])

print(a[0:2])
print(b[0:2])

[1, 2]
[1 2]

  Choose 3 TV shows and create 2, 3x4 ndarrays as follows: 

  - The first ndarray called artists contains the name of 4 actors/actresses from each TV show.
  
  - The second ndarray called shows contains the name of the TV show corresponding to each actress.

In [2]:
# Considering the following 3 anime shows and the charaters as artists: Naruto, Attack on Titan and Fruits Basket
artists = np.array([['Naruto','Hinata','Kurama','Jiraiya'],['Levi','Eren','Mikasa','Armin'],['Tohru','Kyo','Yuki','Arisa']])
shows = np.array([['Naruto','Naruto','Naruto','Naruto'],['Attack on Titan','Attack on Titan','Attack on Titan','Attack on Titan'],['Fruits Basket','Fruits Basket','Fruits Basket','Fruits Basket']])

print(artists)
print()
print(shows)

[['Naruto' 'Hinata' 'Kurama' 'Jiraiya']
 ['Levi' 'Eren' 'Mikasa' 'Armin']
 ['Tohru' 'Kyo' 'Yuki' 'Arisa']]

[['Naruto' 'Naruto' 'Naruto' 'Naruto']
 ['Attack on Titan' 'Attack on Titan' 'Attack on Titan' 'Attack on Titan']
 ['Fruits Basket' 'Fruits Basket' 'Fruits Basket' 'Fruits Basket']]

- Calculate the boolean indexing for one of the TV shows in the second ndarray.

In [3]:
shows == 'Attack on Titan'

array([[False, False, False, False],
       [ True,  True,  True,  True],
       [False, False, False, False]])

- Using the boolean indexing from the previous step, select the actors/actresses that played in that TV show and put it in a new ndarray called selected_show.

In [4]:
selected_show = artists[shows == 'Attack on Titan']
print(selected_show)

['Levi' 'Eren' 'Mikasa' 'Armin']

- Save all of the three ndarrays from the previous steps to disk.

In [5]:
np.savez('assignment_2_test.npz', name1=artists, name2=shows, name3=selected_show)

- Reload the saved file and load the three ndarrays to three new variables called artists_new, shows_new and selected_show_new.

In [6]:
c = np.load('assignment_2_test.npz')
artists_new = (c['name1'])
shows_new = (c['name2'])
selected_show_new = (c['name3'])

print(artists_new)
print()
print(shows_new)
print()
print(selected_show_new)

[['Naruto' 'Hinata' 'Kurama' 'Jiraiya']
 ['Levi' 'Eren' 'Mikasa' 'Armin']
 ['Tohru' 'Kyo' 'Yuki' 'Arisa']]

[['Naruto' 'Naruto' 'Naruto' 'Naruto']
 ['Attack on Titan' 'Attack on Titan' 'Attack on Titan' 'Attack on Titan']
 ['Fruits Basket' 'Fruits Basket' 'Fruits Basket' 'Fruits Basket']]

['Levi' 'Eren' 'Mikasa' 'Armin']

## Pandas Basics (60 points)

Create a Series object as follows: __(20 points)__

- The Series object contains at least 7 car models with the index being car brands like 'BMW' , e.g. data being X3 and the index is BMW.

In [7]:
import pandas as pd
d = pd.Series(['a6 allroad', 'accord', 'altima','arteon','ascent','camry','bronco'], index = ['audi', 'honda', 'nissan', 'volkswagen','subaru','toyota','ford'])

- Use boolean filtering to filter cars containing the letter 'a'

In [8]:
print(d.str.contains('a'))
print()
print(d[d.str.contains('a')])

audi           True
honda          True
nissan         True
volkswagen     True
subaru         True
toyota         True
ford          False
dtype: bool

audi          a6 allroad
honda             accord
nissan            altima
volkswagen        arteon
subaru            ascent
toyota             camry
dtype: object

- Rename the index column to "manufacturer"

In [9]:
d.index.name = 'manufacturer'
print(d)

manufacturer
audi          a6 allroad
honda             accord
nissan            altima
volkswagen        arteon
subaru            ascent
toyota             camry
ford              bronco
dtype: object

Create a DataFrame as follows: __(40 points)__

- The DataFrame columns are "sport" (string), "number_of_players" (integer), "ball_game" (boolean) and  "popularity" (one of the values for 'high', 'medium' or 'low'), and the DataFrame contains at least 7 rows.

In [10]:
e = {'sport': ['basketball','hockey','cricket','baseball','skating','golf','track'],
     'number_of_players': [5,6,11,9,1,1,1],
     'ball_game': [True,False,True,True,False,True,False],
     'popularity': ['high','high','high','medium','medium','low','low']}
f = pd.DataFrame(e)
print(f)

        sport  number_of_players  ball_game popularity
0  basketball                  5       True       high
1      hockey                  6      False       high
2     cricket                 11       True       high
3    baseball                  9       True     medium
4     skating                  1      False     medium
5        golf                  1       True        low
6       track                  1      False        low

- Add a new column to the DataFrame called "Best Player" and show that all the values for the column are NaN after adding the column

In [11]:
g = pd.DataFrame(f, columns = ['sport','number_of_players','ball_game','popularity','Best Player'])
print (g)

        sport  number_of_players  ball_game popularity  Best Player
0  basketball                  5       True       high          NaN
1      hockey                  6      False       high          NaN
2     cricket                 11       True       high          NaN
3    baseball                  9       True     medium          NaN
4     skating                  1      False     medium          NaN
5        golf                  1       True        low          NaN
6       track                  1      False        low          NaN

- Set all of the values for the "Best Player" column to "TBD" short for to be determined.

In [12]:
g['Best Player'] = 'TBD'
print (g)

        sport  number_of_players  ball_game popularity Best Player
0  basketball                  5       True       high         TBD
1      hockey                  6      False       high         TBD
2     cricket                 11       True       high         TBD
3    baseball                  9       True     medium         TBD
4     skating                  1      False     medium         TBD
5        golf                  1       True        low         TBD
6       track                  1      False        low         TBD

- Use slicing properly to extract "number_of_players" and "sport" for 3 rows.

In [13]:
g.loc[0:2,['number_of_players','sport']]

   number_of_players       sport
0                  5  basketball
1                  6      hockey
2                 11     cricket

- Write a function called "average_calculator" and use the apply() method to average the number_of_players row. (do not use the built-in mean functions for this part)

In [14]:
def average_calculator(h):
    return sum(h)/len(h)

g[['number_of_players']].apply(average_calculator, axis='rows')

number_of_players    4.857143
dtype: float64

- Try to sort the DataFrame by sport names.

In [15]:
h = g.sort_values(by='sport')
print(h)

        sport  number_of_players  ball_game popularity Best Player
3    baseball                  9       True     medium         TBD
0  basketball                  5       True       high         TBD
2     cricket                 11       True       high         TBD
5        golf                  1       True        low         TBD
1      hockey                  6      False       high         TBD
4     skating                  1      False     medium         TBD
6       track                  1      False        low         TBD

- Find both the index and name of the sport with the maximum amount of players.

In [16]:
j = g.sort_values(by='number_of_players',ascending=False)
k = j.loc[:,['sport','number_of_players']]
print(k.head(1))

     sport  number_of_players
2  cricket                 11

- Save the DataFrame to disk as a CSV file.

In [17]:
g.to_csv('assignment_2_test2.txt')

- Reload the saved CSV in a new variable.

In [18]:
l = pd.read_csv('assignment_2_test2.txt',index_col=[0])
print(l)

        sport  number_of_players  ball_game popularity Best Player
0  basketball                  5       True       high         TBD
1      hockey                  6      False       high         TBD
2     cricket                 11       True       high         TBD
3    baseball                  9       True     medium         TBD
4     skating                  1      False     medium         TBD
5        golf                  1       True        low         TBD
6       track                  1      False        low         TBD